<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>社員情報登録</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">社員情報登録</h1>
        <p>登録する社員の情報を入力してください。</p>
        <form th:action="@{/inputConfirm}" th:object="${employeeForm}" method="post" class="mt-3">
            <table class="table">
                <tr>
                    <td>氏</td>
                    <td><input type="text" th:field="*{lname}" class="form-control" /></td>
                    <td><div th:if="${#fields.hasErrors('lname')}" th:errors="*{lname}" class="text-danger"></div></td>
                </tr>
                <tr>
                    <td>名</td>
                    <td><input type="text" th:field="*{fname}" class="form-control" /></td>
                    <td><div th:if="${#fields.hasErrors('fname')}" th:errors="*{fname}" class="text-danger"></div></td>
                </tr>
                <tr>
                    <td>氏（カナ）</td>
                    <td><input type="text" th:field="*{lkana}" class="form-control" /></td>
                    <td><div th:if="${#fields.hasErrors('lkana')}" th:errors="*{lkana}" class="text-danger"></div></td>
                </tr>
                <tr>
                    <td>名（カナ）</td>
                    <td><input type="text" th:field="*{fkana}" class="form-control" /></td>
                    <td><div th:if="${#fields.hasErrors('fkana')}" th:errors="*{fkana}" class="text-danger"></div></td>
                </tr>
                 <tr>
                    <td>性別</td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" th:field="*{gender}" id="genderMale" value="1" />
                            <label class="form-check-label" for="genderMale">男性</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" th:field="*{gender}" id="genderFemale" value="2" />
                            <label class="form-check-label" for="genderFemale">女性</label>
                        </div>
                    </td>
                    <td><div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="text-danger"></div></td>
                </tr>
                <tr>
                    <td>部署名</td>
                    <td>
                        <select th:field="*{deptno}" class="form-control">
                            <option value="" disabled selected>選択してください</option>
                            <option value="100">人事部</option>
                            <option value="200">経理部</option>
                            <option value="300">営業部</option>
                            <option value="400">企画部</option>
                            <option value="500">開発部</option>
                            <option value="600">総務部</option>
                        </select>
                    </td>
                    <td><div th:if="${#fields.hasErrors('deptno')}" th:errors="*{deptno}" class="text-danger"></div></td>
                </tr>
                <tr>
                    <td>パスワード</td>
                    <td><input type="password" th:field="*{password}" class="form-control" /></td>
                    <td><div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div></td>
                </tr>
            </table>
            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">登録</button>
                    <button type="button" class="btn btn-secondary" onclick="location.href='/'">トップページに戻る</button>
                </div>
            </div>
        </form>
        <div th:if="${param.success}" class="mt-3">
            <p class="text-success">社員が正常に登録されました！</p>
        </div>
    </div>
</body>
</html>
