<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EIMS</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <!--   App CSS 
  <link rel="stylesheet" th:href="@{/css/site.css}">
-->
</head>

<body class="d-flex flex-column min-vh-100">

    <!-- ヘッダー -->
    <nav class="navbar navbar-light bg-light border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">EIMS</a>
            <div class="d-flex align-items-center">
                <!-- ヘッダー内：ようこそ表示の氏名にリンクを付与（自身の詳細画面へ） -->
                <span class="me-3" th:if="${session.user != null}">
                    ようこそ、
                    <a th:href="@{/detail/}+ ${session.user.empno}" class="fw-bold text-decoration-none"
                        th:text="${session.user.lname + ' ' + session.user.fname}">山田 太郎</a>
                    さん
                </span>
                <a class="btn btn-outline-secondary btn-sm" th:if="${session.user != null}"
                    th:href="@{/logout}">ログアウト</a>
                <a class="btn btn-primary btn-sm" th:if="${session.user == null}" th:href="@{/login}">ログイン</a>
            </div>
        </div>
    </nav>

    <!-- 本体 -->
    <div class="container-fluid my-3">
        <div class="row">

            <!-- サイドバー -->
            <aside class="col-12 col-md-3 col-xl-2 mb-3 mb-md-0">
                <div class="list-group list-group-flush small">
                    <a th:href="@{/}" class="list-group-item list-group-item-action">トップページ</a>
                    <span th:if="${session.user != null}">
                        <a th:if="${session.user.role == 1}" th:href="@{/findAll}"
                            class="list-group-item list-group-item-action">全社員一覧</a>
                    </span>
                    <a th:if="${session.user != null}" th:href="@{/search}"
                        class="list-group-item list-group-item-action">社員検索</a>
                    <a th:href="@{/input}" class="list-group-item list-group-item-action">社員登録</a>
                </div>
            </aside>

            <!-- コンテンツ差し込み -->

            <main class="col-md-12 col-lg-6" layout:fragment="main_content">
                <!-- 子テンプレートが差し込みます -->
            </main>

        </div>
    </div>

    <!-- フッター -->
    <footer class="border-top py-3 mt-auto bg-light ">
        <div class="container-fluid text-center text-muted small">
            © Trainocate EIMS 2025
        </div>
    </footer>

    <!-- JS -->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>